@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --card-background: #111827;
  --card-foreground: #ffffff;
  --accent: #14b8a6;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: {
    DEFAULT: var(--card-background);
    foreground: var(--card-foreground);
  };

  --color-accent: {
    DEFAULT: var(--accent);
  };

  /* Fontes definidas no layout */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: theme('colors.background');
  color: theme('colors.foreground');
  font-family: theme('fontFamily.sans');
}